PORT=5000
MONGODB_URI=mongodb+srv://snehasri263_db_user:KCDgMO1qmYdwW49D@civicpulse-cluster.9ir4rrw.mongodb.net/civicpulsers?retryWrites=true&w=majority&appName=civicpulse-cluster
LLM_API_KEY=
LLM_MODEL=
AI_MOCK_MODE=true
CORS_ORIGIN=http://localhost:5173